@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.zoomonhover {  
  display: inline-block;
  transition: transform 0.4s ease;
}

.zoomonhover:hover {
  transform: scale(1.1);
}

@keyframes text-sweep {
  0% {
    background-position: 0% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

.animate-text-sweep {
  background: linear-gradient(
    135deg, 
    #868579 40%,    
    #ffffff 50%,   
    #868579 60%     
  );
  background-size: 200% 50%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: text-sweep 3s linear infinite;
}

@keyframes drop-word {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  50% {
    transform: translateY(10px);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-drop-word {
  display: inline-block;
  animation: drop-word 1s ease-out forwards;
  opacity: 0;
}

@keyframes underline {
  0% {
    width: 0;
  }
  100% {
    width: 45%;
  }
}

.animate-underline {
  animation: underline 1s ease-out 1.4s forwards;
  width: 0;
}

@keyframes color-sweep {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-color-sweep {
    background: linear-gradient(90deg, #ff8181 0%,#ff8181 30%, #FFD93D 50%,#ff8181 70%,#ff8181 100%);
    background-size: 300% 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: color-sweep 4s ease-in-out infinite;
  }
